.container {
    margin: 10px;
    background-color: bisque;
}

.container h1 {
    color: rgb(60, 60, 255);
}
.container h2 {
    color: gray;
}
.table{
    margin: 20px;
    background-color: rgb(169, 199, 255);
    
}

.table:nth-child(even){
    background-color: aqua;
}